version: '3.9'
services:
  web:
    build: ./backend
    container_name: web
    ports:
      - "8085:3001"
    env_file:
      - .env
    depends_on:
      - database
    volumes:
      - ./backend:/app
    command: nodemon --legacy-watch server.js

  database:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: bandnames
      MYSQL_USER: root
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  admin:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8086:8080"
    depends_on:
      - database

volumes:
  db_data:
